
#show{
   display: inline;
}
#hide{
     display: none;
}
#showIcon1{
  display: inline;
}
#hideIcon1{
  display: none;
}
#showIcon2{
  display: inline;
}
#hideIcon2{
  display: none;
}
#en{
  display: inline;
}
#dis{
    display: none;
}
#done{
  color: green;
}
#reject{
  color: red;
}
#navbar{
   background-color:#b39ddb;
}
@media (max-width: 770px){
.content{
   font-family: 'iransans', Arial, sans-serif;
   width:100% ;
  
 }
 }
 @media (min-width: 770px){
   .content{
     font-family: 'iransans', Arial, sans-serif;
     width:100% ;
     margin-left: 250;
     margin-bottom: 10px;
     margin-top: 10px;
  
   }
   }
   @media (min-width: 770px),(max-width:880px){
    .content{
      font-family: 'iransans', Arial, sans-serif;
      width:100% ;
      margin-left: 250;
      margin-bottom: 10px;
      margin-top: 10px;
      
    }
    }
    @media (min-width: 880px){
      .content{
        font-family: 'iransans', Arial, sans-serif;
        width:100% ;
        margin-left: 250;
        margin-bottom: 10px;
        margin-top: 10px;
        
      }
      }
  
 @media (width:600px){
         .bigcard{
           font-family: 'iransans', Arial, sans-serif;
           width:350px;
           margin-left: 250px;
         
         }
         }
 @media (min-width:601px){
          .bigcard{
            font-family: 'iransans', Arial, sans-serif;
            margin-left: 250px;
          
          }
          }

          






